@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #3f3f46;
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #52525b;
}

/* Custom Scrollbar for ProductNav */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e4e4e7;
    border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27272a;
}